<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pokemon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F5C3A6029C09E1D00778F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5C3A7029C09E2000778F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5C3A7A29C09E2000778F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
